@use '../../../../variables' as vars;

h3 {
  display: block;
  font-family: vars.$font-stack;
  font-size: 30px;
  font-weight: 500;
  margin: 5px 0;
  padding: 10px 15px;
  background-color: vars.$light-gray;
  border: 2px solid vars.$vivid-blue;
  color: vars.$dark-brown;
  width: 615px;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 1.35;

  &:empty {
    display: none;
  }
}