.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #43e756;
    color: #006400;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
}