@use '../../../../_variables' as vars;
// @use '../../../../_mixins' as mixins;

.score-toolbar {
  float: left;
  margin-left: 2rem;

  .mat-menu {
    margin-left: -40px;

    .leader,
    span.scoreboard {
      margin: 0 0 0 40px;
    }
  }
}

.scoreboard-score {
  margin-left: -60px;
  margin-top: -10px;
}

mat-toolbar {
  background: vars.$white;
  margin-left: -30px;
}
mat-toolbar:hover {
  background-color: vars.$white !important;
}
mat-toolbar .leader {
  // margin-left: -35px !important;
}
button {
  outline: none;
  text-transform: uppercase;
  font-family: vars.$font-stack;
  padding: 5px 10px;
}
