@if (optionsToDisplay().length) {
  <app-shared-option
    [optionsToDisplayInput]="optionsToDisplay()"
    [optionBindingsInput]="optionBindings()"
    [questionIndex]="currentQuestionIndex()"
    [currentQuestionIndexInput]="currentQuestionIndex()"
    [currentQuestionInput]="questionData()"
    [quizId]="quizId()"
    [renderReadyInput]="renderReady"
    [config]="sharedOptionConfig"
    [isNavigatingBackwardsInput]="isNavigatingBackwards()"
    [typeInput]="type()"
    (optionClicked)="onOptionClicked($event)">
  </app-shared-option>
}