@use '../../../../_variables' as vars;
@use '../../../../_mixins' as mixins;

.timer-container {
  float: right;
  margin-right: 2rem;

  button {
    text-transform: uppercase;
    font-family: vars.$font-stack;
    border: none !important;
    outline: none !important;

    .timer-menu-button-text {
      margin-left: -35px;
      text-transform: uppercase;
      font-family: vars.$font-stack;
      border: none !important;
      outline: none !important;
    }
  }

  .mat-menu {
    margin-left: -40px;
    outline: none !important;

    .timer-menu-button-text,
    span.scoreboard-timer-text {
      margin: 0 0 0 40px;
    }
  }

  .scoreboard-timer {
    margin-left: 5px;
    margin-top: 20px !important;
  }
}
