@use '../../../../_variables' as vars;
@use '../../../../_mixins' as mixins;

.timer-container {
  float: right;
  margin-right: 2rem;

  button {
    text-transform: uppercase;
    font-family: vars.$font-stack;

    .timer-menu-button-text {
      margin-left: -35px;
      text-transform: uppercase;
      font-family: vars.$font-stack;
    }
  }

  .mat-menu {
    margin-left: -40px;

    .timer-menu-button-text,
    span.scoreboard-timer-text {
      margin: 0 0 0 40px;
    }
  }

  .scoreboard-timer {
    margin-left: 5px;
    margin-top: 20px !important;
  }
}

/* Remove the MDC focus/selection 1px border from all mat-button */
.mat-mdc-button {
  --mdc-text-button-outline-color: transparent !important;
  --mdc-text-button-hover-state-layer-color: transparent !important;
  --mdc-text-button-focus-state-layer-color: transparent !important;
  --mdc-text-button-pressed-state-layer-color: transparent !important;
  --mdc-text-button-focus-indicator-color: transparent !important;
}

/* Also destroys residual border that appears on click/focus */
.mat-mdc-button:focus,
.mat-mdc-button:focus-visible,
.mat-mdc-button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
