@use '../../../../../variables' as vars;

.mat-checkbox-layout,
.mat-radio-layout {
  display: block !important;
}

div.mat-checkbox-inner-container,
div.mat-radio-inner-container {
  display: none;
}

.options {
  mat-checkbox,
  mat-radio-button {
    cursor: pointer;
    display: inline-block;
    width: 100% !important;
    height: auto;
    font-family: vars.$font-stack;
    font-size: 20px;
    color: vars.$dark-brown;
    background-color: vars.$light-gray;
    border: 2px solid vars.$medium-gray;
    margin-left: -5px;

    &:hover {
      border: 2px solid vars.$vivid-blue;
    }

    // Disabled state (applies when [disabled] is true)
    &.disabled-option,
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;  // prevent accidental clicks
      background-color: lighten(vars.$light-gray, 10%);
      border-color: vars.$medium-gray;
    }
  }  
}

.options {
  > * {
    margin-top: 4px !important;
    margin-bottom: 20px !important;
  }
}

.correct {
  background-color: vars.$green;
}

.incorrect {
  background-color: vars.$red;
}

.correct, .incorrect {
  border: 2px solid vars.$vivid-blue;
}


.correct-icon {
  color: vars.$green;
  margin-left: 10px;
}

.incorrect-icon {
  color: vars.$red;
  margin-left: 10px;
}

.disabled-option {
  opacity: 0.6;
  pointer-events: none;  // prevent clicks
  cursor: not-allowed;
}

.correct-option {
  background-color: vars.$green !important;
  border: 2px solid vars.$vivid-blue !important;
}

.incorrect-option {
  background-color: vars.$red !important;
  border: 2px solid vars.$vivid-blue !important;
}

.flash-red {
  animation: flashRed 0.5s ease;
}

@keyframes flashRed {
  0%   { background-color: vars.$red; }
  50%  { background-color: lighten(vars.$red, 15%); }
  100% { background-color: vars.$light-gray; }  // back to normal disabled
}