@let opts = optionBindings || [];
@if (canShowOptions()) {
  <!-- OPTIONS ARE READY -->
  <form [formGroup]="form" class="options-form">
    @switch (type) {
      <!-- SINGLE-ANSWER (RADIO) -->
      @case ('single') {
        <mat-radio-group class="options-group options">
          @for (b of optionBindings; let i = $index; track trackByOptionId(i, b)) {
            <div class="option-container" (click)="onOptionClick(b, i, $event)">
              <mat-radio-button
                appHighlightOption  
                class="option-radio single-option"
                [ngClass]="getOptionClasses(b)"
                
                [option]="b.option"
                [optionBinding]="b"
                [isSelected]="b.isSelected"
                [isCorrect]="b.isCorrect"
                [selectedOptionHistory]="selectedOptionHistory"
                [highlightCorrectAfterIncorrect]="highlightCorrectAfterIncorrect"
                [appHighlightInputType]="'radio'"
                [appHighlightReset]="shouldResetBackground"

                [value]="b.option.optionId"
                (change)="updateOptionAndUI(b, i, $event)"
              >
                <div class="option-wrapper">
                  <span class="option-text">
                    {{ getOptionDisplayText(b.option, i) }}
                  </span>
        
                  @if (shouldShowIcon(b.option, i)) {
                    <mat-icon class="opt-icon">
                      {{ getOptionIcon(b.option, i) }}
                    </mat-icon>
                  }
                </div>
              </mat-radio-button>
        
              @if (b.option.optionId === lastFeedbackOptionId) {
                <div class="feedback-wrapper">
                  @if (feedbackConfigs[b.option.optionId]?.showFeedback) {
                    <codelab-quiz-feedback
                      [feedbackConfig]="feedbackConfigs[b.option.optionId]" />
                  }
                </div>
              }
            </div>
          }
        </mat-radio-group>             
      }

      <!-- MULTIPLE-ANSWER (CHECKBOX) -->
      @case ('multiple') {
        @for (b of optionBindings; let i = $index; track trackByOptionId(i, b)) {
          <div class="option-container" (click)="onOptionClick(b, i, $event)">
            <mat-checkbox
              appHighlightOption  
              class="option-row multiple-option"
              [ngClass]="getOptionClasses(b)"
              
              [option]="b.option"
              [optionBinding]="b"
              [isSelected]="b.isSelected"
              [isCorrect]="b.isCorrect"
              [selectedOptionHistory]="selectedOptionHistory"
              [highlightCorrectAfterIncorrect]="highlightCorrectAfterIncorrect"
              [appHighlightInputType]="'radio'"
              [appHighlightReset]="shouldResetBackground"

              (change)="updateOptionAndUI(b, i, $event)"
            >
              <div class="option-wrapper">
                <span class="option-text">
                  {{ getOptionDisplayText(b.option, i) }}
                </span>
        
                @if (shouldShowIcon(b.option, i)) {
                  <mat-icon class="opt-icon">
                    {{ getOptionIcon(b.option, i) }}
                  </mat-icon>
                }
              </div>
            </mat-checkbox>
        
            @if (b.option.optionId === lastFeedbackOptionId) {
              <div class="feedback-wrapper">
                @if (feedbackConfigs[b.option.optionId]?.showFeedback) {
                  <codelab-quiz-feedback
                    [feedbackConfig]="feedbackConfigs[b.option.optionId]" />
                }
              </div>
            }
          </div>
        }                
      }
    }
    <!-- end @switch -->
  </form>
} @else if (opts.length === 0) {
  <span>Options not ready...</span>
}