@use '../../../../../variables' as vars;

/* 
   SHARED OPTION COMPONENT LAYOUT
   Styles for the container of options.
   The options themselves are styled in option-item.component.scss.
*/

.options {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: stretch !important;
  gap: 30px !important;

}


.options-form {
  width: 100%;
}

.feedback-below-option {
  width: 100%;
  margin-top: -15px;
  margin-bottom: -20px;
  padding-left: 35px !important;
}
