@use '../../../../../variables' as vars;

.summary-icons {
  float: right;

  a {
    color: vars.$gray;
    text-decoration: none;
  }

  .print {
    float: right;
    margin-top: -40px;
    margin-right: 60px;
  }

  .email {
    float: right;
    margin-top: -40px;
    margin-right: 35px;
  }

  .share {
    float: right;
    margin-top: -40px;
    margin-right: 10px;
  }
}
