@use '../../../_variables' as vars;

mat-card {
  height: auto;
  padding: 0;
  margin-top: -40px !important;
  margin-bottom: -10px !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

mat-card-content {
  padding: 0;
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  // padding: 0 15px;
  margin: 0;
  margin-bottom: 1rem;
  // box-sizing: border-box;

  .scoreboard__score {
    margin: 0;
    height: 35px;
  }

  .scoreboard__timer {
    margin: 0;
  }

  .scoreboard__score,
  .scoreboard__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scoreboard__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: vars.$font-stack;
    font-size: 26px;
    font-weight: vars.$font-weight-max;
    font-style: italic;
    color: vars.$dark-green;
    margin: 0 10px;
    line-height: 1.2;
  }

  .scoreboard__score * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .scoreboard__timer * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* shrink internal spacing on small screens */
@media (max-width: 600px) {
  .scoreboard {
    padding: 0 10px;
    .scoreboard__badge {
      font-size: 22px;
    }
  }
}


/* .jumbotron {
  background: linear-gradient(135deg, #1e88e5, #42a5f5);
  color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
} */