@use '../../../../../variables' as vars;

.message {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px -100px;
  width: 760px;

  .feedback-message {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 550px;
    text-align: center;
    font-weight: 700;
    padding: 5px 0;
    //test
  
    mat-icon {
      font-size: 28px;
      color: vars.$light-yellow;
      position: relative;
      top: -3px;
      flex-shrink: 0;
      width: 25px;
    }
  }

  .correct-message {
    border-color: vars.$vivid-blue;
    color: vars.$dark-green;
  }

  .wrong-message {
    border-color: vars.$red;
    color: vars.$red;
  }

  .correct-message,
  .wrong-message {
    margin: -5px 0 -5px 25px;
    border: 2px solid;
    border-radius: 10px;
    height: 50px;
  }

  .correct-icon, 
  .wrong-icon {
    margin-left: -20px;
  }
}

.material-icons {
  font-family: 'Material Icons', vars.$font-stack;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}