@use '../../../../variables' as vars;

mat-accordion {
  clear: both;
  padding-bottom: 20px;

  mat-expansion-panel {
    border: 2px solid vars.$dark-blue;

    &:hover {
      border: 2px solid vars.$vivid-blue;
    }
  }

  mat-expansion-panel-header {
    height: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  mat-panel-title {
    background-color: transparent; // Blend with card
    color: vars.$black;
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;
    max-width: 100%;
    padding-left: 35px;  // make room for the +/- icon

    .question-leader {
      font-weight: vars.$font-weight-max;
      color: vars.$darker-blue;
      white-space: nowrap;
      margin-right: 5px;
      flex: 0 0 auto;
    }
    
    .question-text {
      flex: 1 1 auto;
      min-width: 0;
      font-weight: 700;
      font-style: italic;
      color: vars.$black;
      white-space: normal;
      overflow-wrap: break-word;
      word-wrap: break-word;
      line-height: 1.4;
    }
  }




  .accordion-icon {
    position: absolute;
    left: 0;
    margin-left: 25px;
    color: vars.$gray;
    font-weight: vars.$font-weight-max;
    font-size: 20px;
  }

  .quiz-summary-question {
    font-family: vars.$font-stack;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1); // Subtle border
    border-radius: 5px;
    color: vars.$black;
    background-color: rgba(255, 255, 255, 0.1); // Semi-transparent
    margin-bottom: 15px;
    padding: 10px;
    text-align: left;

    ul.quiz-summary-fields {
      display: block !important;
      margin-bottom: 10px;
      text-align: left;
      list-style-type: none;  // remove bullets
      padding-left: 0;  // remove default padding
      margin-left: 30px;

      li {
        display: block;
        text-align: left;
        font-size: 16px;
        color: vars.$darker-blue;
        margin: 0 0 5px -30px;

        .leader {
          font-family: Roboto, 'Helvetica Neue', sans-serif;
          font-weight: 700;
          display: inline;
          background: none;
          text-transform: inherit;
          margin-left: -10px;
        }

        i {
          font-size: larger;
          top: 10px !important;
        }

        .correct {
          color: vars.$green;
          font-weight: vars.$font-weight-max;
        }
        .incorrect {
          color: vars.$red;
          font-weight: vars.$font-weight-max;
        }
      }
    }
  }
}
.mat-accordion-buttons {
  display: flex;
  justify-content: center;

  button {
    margin-right: 10px;
  }
}

.summary-header {
  margin-bottom: 15px;
  font-family: vars.$font-stack; 
}
